<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges 20</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<h1>Result</h1>
<body>  
    <div class="judul">
        <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
        <h2>Filters</h2>
    </div>
    <div>
        <form action="" method="">
            <div class="container">
                <div class="col-15">
                <label for="ID">
                    <input class="checkbox" type="checkbox" id="ID" name="checkid">ID</label>
                </div>
                <div class="col-85">
                    <input class="rowinput" id="masukkan" type="number" placeholder="ID" name="id">
                </div>

                <div class="col-15">
                <label for="String">
                    <input class="checkbox" type="checkbox" id="String" name="string">String</label>
                </div>
                <div class="col-85">
                    <input class="rowinput" id="masukkan" type="text" placeholder="String" name="string">
                </div>

                <div class="col-15">
                <label for="Integer">
                    <input class="checkbox" type="checkbox" id="Integer" name="integer">Integer</label>
                </div>
                <div class="col-85">
                    <input class="rowinput" id="masukkan" type="number" placeholder="Integer" name="integer">
                </div>

                <div class="col-15">
                <label for="Float">
                    <input class="checkbox" type="checkbox" id="Float" name="float">Float</label>
                </div>
                <div class="col-85">
                    <input class="rowinput" id="masukkan" step="0.01" type="number" placeholder="Float" name="float">
                </div>

                <div class="col-15">
                <label for="Date">
                    <input class="checkbox" type="checkbox" id="Date" name="date">Date</label>
                </div>
                <div class="col-85">
                    <input class="rowinput2" id="masukkan" type="date" placeholder="start date" name="date">
                    <p class="date2">to</p>
                    <input class="rowinput2" id="masukkan" type="date" placeholder="end date" name="date">
                </div>

                <div class="col-15" >
                    <label for="Boolean">
                        <input class="checkbox" type="checkbox" id="Boolean" name="boolean">Boolean</label>
                </div>
                <div class="col-85">
                    <select class="newboolean" name="boolean">
                        <option selected disabled>Choose the boolean ...</option>
                        <option value="false">false</option>
                        <option value="true">true</option>
                    </select>
                </div>
            </div> 

            <button class="btn-search" type="submit">Search</button>
        </form>

        <div>
            <form action="/" method="POST">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th class="id-styling">ID</th>
                            <th>String</th>
                            <th>Integer</th>
                            <th>Float</th>
                            <th>Date</th>
                            <th>Boolean</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((item, index) => { %>
                        <tr class="active-row">
                            <td class="id-styling"><%= index + 1 %></td>
                            <td><%= item.string %></td>
                            <td><%= item.integer %></td>
                            <td><%= item.float %></td>
                            <td><%= item.date %></td>
                            <td><%= item.boolean %></td>
                            <td><a class="btn-edit" href="/edit/<%= item.id %>">Edit</a><a class="btn-delete" href="/delete/<%= item.id %>">Delete</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </form>
        </div>

            <div class="pagination">
                <a href="#">Previous</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">Next</a>
            </div>

            <div class="addNew">
                <a href="/add" class="btn-styling" type="submit">Add</a>
            </div>
    </div>
</body>
</html>